.add-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.addPanel input {
    width: 230px;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
}
.addPanel button {
    width: 80px;
    height: 30px;
    background-color: var(--blue-color);
    border: 0;
    border-radius: 3px;
    color: white;
}

.addPanel button:active {
    border: 2px solid black;
}

.notification-fail {
    color: red;
}

.notification-success {
    color: green;
}