.taskEl {
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    width: 350px;
    height: 50px;
    box-shadow: 3px 3px #8d8080;
    border: 1px solid black;
    border-radius: 10px;
}

.title  {
    padding: 10px;
    display: flex;
    width: 150px;
    align-items: center;
}

.buttonEdit {
    background-color: #5196f5;
    
}

.buttonDelete {
    background-color: rgba(254,106,91,0.8)
}