.addPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.addPanel input {
    width: 230px;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
}
.addPanel button {
    width: 80px;
    height: 30px;
    background-color: #5593f8;
    border: 0;
    border-radius: 3px;
    color: white;
}

.addPanel button:active {
    box-shadow: 1px 1px gray;
}

.notification-fail {
    color: red;
}

.notification-success {
    color: green;
}