nav {
    margin-top: 20px;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.active {
    color: #5594f1;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px
}

.tab-tasks div {
    cursor: pointer;
}