.item {
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex: 1;
    min-height: 60px;
    box-shadow: 3px 3px #8d8080;
    border: 1px solid black;
    border-radius: 10px;
}

ul {
    padding: 0;
}

.title  {
    padding: 10px;
    display: flex;
    width: 154px;
    align-items: center;
    word-break: break-all;
}

.title-completed {
    padding: 10px;
    display: flex;
    width: 154px;
    align-items: center;
    text-decoration: line-through;
    word-break: break-all;
}

.button-edit {
    margin-left: 30px;
    height: 50px;
    width: 15%;
    border-radius: 5px;
    background-color: var(--blue-color);
}

.button-back {
    width: 15%;
    margin-left: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--red-color)
}

.button-delete {
    margin-left: 10px;
    width: 15%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--red-color)
}

.text-editing {
    padding: 10px;
    display: flex;
    width: 150px;
    align-items: center;
    word-break: break-all;
}

.checkbox {
    margin-left: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0;
}

.checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox span {
    width: 20px;
    height: 20px;
    border: 2px solid #343434;
    border-radius: 6px;
}

.checkbox input:checked + span {
    background: var(--blue-color);
    border-color: var(--blue-color);
}

.checkbox input:checked + span::after {
    content: '✔';
    position: absolute;
    left: 6px;
    top: 2px;
    color: white;
    font-size: 14px;
}

.edit-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../assets/edit.svg") no-repeat center center;
    background-size: 22px 22px;
}
.delete-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../assets/trash.svg") no-repeat center center;
    background-size: 22px 22px;
}
.save-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../assets/ok.svg") no-repeat center center;
    background-size: 22px 22px;
}
.back-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../assets/back.svg") no-repeat center center;
    background-size: 22px 22px;
}

button {
    cursor: pointer;
}