.taskEl {
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    min-height: 60px;
    box-shadow: 3px 3px #8d8080;
    border: 1px solid black;
    border-radius: 10px;
}

ul {
    padding: 0;
}

.title  {
    padding: 10px;
    display: flex;
    width: 154px;
    align-items: center;
    word-break: break-all;
}

.title-completed {
    padding: 10px;
    display: flex;
    width: 154px;
    align-items: center;
    text-decoration: line-through;
    word-break: break-all;
}

.button-edit {
    margin-left: 30px;
    height: 50px;
    width: 55px;
    border-radius: 5px;
    background-color: rgba(86,149,243,0.8);
}

.button-back {
    width: 55px;
    margin-left: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(254,106,91,0.8)
}

.button-delete {
    margin-left: 10px;
    width: 55px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(254,106,91,0.8)
}

.text-editing {
    padding: 10px;
    display: flex;
    width: 150px;
    align-items: center;
    word-break: break-all;
}

.checkbox label {
    width: 27px;
    height: 27px;
}

.checkbox input {
appearance: none;
}

.checkbox input {
    width: 20px;
    height: 20px;
    background-image: url("../../assets/checkbox-off.svg");
    background-size: 20px 20px;
}
.checkbox input:checked {
    width: 20px;
    height: 20px;
    background-image: url("../../assets/checkbox-on.svg");
    background-size: 20px 20px;
    background-color: #5196f5;
    border-radius: 10px;
}

.edit-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../../assets/edit.svg") no-repeat center center;
    background-size: 22px 22px;
}
.delete-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../../assets/trash.svg") no-repeat center center;
    background-size: 22px 22px;
}
.save-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../../assets/ok.svg") no-repeat center center;
    background-size: 22px 22px;
}
.back-svg {
    padding-left: 6px;
    width: 30px;
    height: 30px;
    background: url("../../assets/back.svg") no-repeat center center;
    background-size: 22px 22px;
}

button {
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}

.todo-box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editing-form {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}